/* generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{

    content: "";
    display: table;
    clear: both;
}

body{
    height: 80%;
    width: 100%;
    margin: auto;
    /* max width serve a non stretchare il contenuto della pagina */
    max-width: 1024px;
}

/* header */

.menu {
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    width: 20%;
    margin-right: 10px;
    border-right: solid 1px gray;
    padding-right: 20px;
    padding-top: 10px;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: #aeaeae;
}

/* prima parte del main */

.main1 {
    background-image: url(./asset/img/banner.jpg);
    background-position: center;
    /* per verificare se l'immagine si ripete, usare background size al 10% per verificare se c'è ripetizione. poi text repeat, no repeat! */
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 450px;   
    margin-top: 2%;
}

.intestazione1 {
    color: white;
    position: absolute;
    text-align: left;
    bottom: 0;
    margin: 5%;
}

.firstp {
    font-size: 20px;
}

.undertitle {
    color: #aeaeae;
}

h1 {
    font-size: 40px;
    text-decoration: none;
}

/* immagini seconda parte main e descrizioni */

.main2 {
    margin-top: 3%;
}

.contenitore1 {
    background-image: url(./asset/img/img-1.jpg);
    background-position: center;
    display: block;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    border-radius: 15px;
    width: 100%;
    height: 200px;  
}

.contenitore2 {
    background-image: url(./asset/img/img-3.jpg);
    background-position: center;
    display: block;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    border-radius: 15px;
    width: 100%;
    height: 200px; 
}

.contenitore3 {
    background-image: url(./asset/img/banner-2.jpg);
    background-position: center;
    display: block;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    border-radius: 15px;
    width: 100%;
    height: 200px;   
}

.first {
    height: 70px; 
}

.second {
    width: 20%;
    float: left;
}

.third {
    width: 20%;
    float: right;
}

.fourth {
    width: 54%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

.sec {
    margin-bottom: 3%;
}

.lorem {
    color: #aeaeae;
    margin-top: 10px;
    margin-bottom: 10px;
}

.article {
    color: #aeaeae;
}

h2 {
    font-size: 40px;
}


/* footer */

.end {
    margin-top: 3%;
    text-align: center;
}

.heart::after {
    content: ' \2665';
    color: red;
} 